body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    padding: 25px 0 25px 0;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    text-align: center;
}

.prods_block {
    display: flex;

}

.prod {
    padding: 15px;
}

.pr_buy {
    padding: 10px;
    background-color: #47d147;
    display: inline-block;
}

.pr_buy:hover {
    background-color: #ffff00;
    cursor: pointer;
}

.pr_price {
    padding: 10px;
    background-color: #ffff80;
    display: inline-block;
}

.pan_item {
    padding: 3px;
}

.pan_active {
    background-color: #47d147;
}

.checkout_cont {

    display: flex;
    justify-content: space-between;
}

.checkout_cont_but {
    padding-top: 35px;
    text-align: center;
}

.remove_quan {
    padding: 5px;
    background-color: #4d94ff;
    cursor:pointer;
}

.add_quan {
    padding: 5px;
    background-color: #4d94ff;
    cursor:pointer;
}
.r_card_item{
    padding: 5px;
    background-color: #ff1a1a;
    cursor:pointer;

}
.error_block{
    color: #ff1a1a;
}
